[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
openpyxl = "*"
# optional if you plan to add Redis or AI features later
redis = "*"
djangorestframework = "*"
# optional: for .env support if you store API keys
python-dotenv = "*"


[dev-packages]

[requires]
python_version = "3.11.7"
